<div>
  <h1>Chat with Angular and Spring boot</h1>
  <section class="container">
    <p>This webapp uses a SpringBoot app with Websockets to make a real-time chat</p>
  </section>
  <div class="flex flex-row">
    <input type="text" placeholder="Enter your username" [(ngModel)]="userId"/>
    <button>Ok</button>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="h-12rem w-full">
        <div class="text-3xl">
          <b>
            Messages
          </b>
        </div>
        <div>
          <ul *ngFor="let item of messageList; let i = index" data-index="#i">
            <li>
              <span>{{item.from}}: </span>
              <span>{{item.text}}</span>
            </li>
          </ul>


          
        </div>
      </div>
      <div class="flex flex-row">
        <input type="text" placeholder="Write your message" [(ngModel)]="messageInput"/>
        <button (click)="sendMessage()" submit>Send</button>
      </div>
    </div>
  </div>
</div>
<router-outlet />
